<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h2>All Flights</h2>
  <div class="wrapper">

    <table>
      <thead>
        <tr class="first-table">
          <th>Flight Number</th>
          <th>Departure</th>
          <th>Airline</th>
          <th></th>
          <th>Date</th>
      </tr>
      </thead>
      <tbody>
        <% flights.forEach(function(m) { %>
          <tr>
            <td><%= m.flightNo %></td>
            <td><%= m.departs %></td>
            <td><%= m.airline %></td>
            <td><%= m.date %></td>
            <td><a href="/flights/<%= m._id %>">DETAILS</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>